node_modules/**
/dist/
src/aws-exports.js
.amplifyrc
.awsmobilejs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
amplify/.config
amplify/backend/amplify-meta.json
amplify/#current-cloud-backend
.DS_Store
.idea
.github/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.graphqlconfig.yml
